<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <script src="https://jp.vuejs.org/js/vue.min.js"></script>
    <title>Debug tool</title>
  </head>

  <body>
    <H1>Debug tool</h1>

    <h2>URL query strings from the client</h2>
    <ul>
      <li>loc=<%= loc %>
      <li>dat=<%= dat %>
      <li>sno=<%= sno %>
      <li>ref=<%= ref %>
      <li>tok=<%= tok %>
      <li>sts=<%= sts %>
    </ul>

    <h2>Cookies on the client</h2>
    <div id="app">
      <p>{{ cookies }}</p>
    </div>

    <script>
      let app = new Vue({
        el: '#app',
        data: {
          cookies: ''
        }
      });

      // Show previous query params
      let cookies = document.cookie;
      console.log(cookies);
      app.cookies = cookies;
    </script>
    
  </body>
</html>
