<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <script src="https://jp.vuejs.org/js/vue.min.js"></script>
    <title>Web applications enabled by dynamic NFC tag</title>
  </head>

  <body>
    <H1>Web applications enabled by dynamic NFC tag</h1>

    <p><%= message %></p>

    <h2>URL query strings</h2>
    <ul>
      <li>loc=<%= loc %>
      <li>dat=<%= dat %>
      <li>sno=<%= sno %>
    </ul>

    <h2>Cookies</h2>
    <div id="app">
      <p>{{ cookies }}</p>
    </div>

    <script>
      let app = new Vue({
        el: '#app',
        data: {
          cookies: ''
        }
      });

      let cookies = document.cookie;
      console.log(cookies);
      app.cookies = cookies;

      document.cookie = 'loc=<%= loc %>; expires=<%= expires %>';
      document.cookie = 'sno=<%= sno %>; expires=<%= expires %>';
    </script>
    
  </body>
</html>
